---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}
rules:
  - apiGroups:
      - headscale.juliamertz.dev
    resources:
      - headscales
      - policies
      - users
      - preauthkeys
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  - apiGroups:
      - headscale.juliamertz.dev
    resources:
      - headscales/status
      - policies/status
      - users/status
      - preauthkeys/status
    verbs:
      - get
      - update
      - patch

  - apiGroups:
      - headscale.juliamertz.dev
    resources:
      - headscales/finalizers
      - policies/finalizers
      - users/finalizers
      - preauthkeys/finalizers
    verbs:
      - update

  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch

  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
      
  - apiGroups:
      - ""
    resources:
      - pods/exec
    verbs:
      - create
      - get

  - apiGroups:
      - ""
    resources:
      - serviceaccounts
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - roles
      - rolebindings
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
